<html>
    <head>
        <title>查询页面</title>
        <style>
            .main{
                {% comment %} text-align: center; {% endcomment %}
                background-color: #fff;
                {% comment %} border-radius: 20px; {% endcomment %}
                {% comment %} width: 300px; {% endcomment %}
                {% comment %} height: 350px; {% endcomment %}
                {% comment %} position: absolute; {% endcomment %}
                {% comment %} left: 50%; {% endcomment %}
                {% comment %} top: 20%; {% endcomment %}
                {% comment %} transform: translate(-50%,-50%); {% endcomment %}
            }
        </style>
    </head>
    <body>
        <div class="main">

<p># {{ name }}
<p>* 维基百科地址：[{{ name }}]({{ wiki_url }}
<p>* 下一步建议：
<p>  * 详细阅读Wikipedia
{% if Turing_Award %}
<p>  * 阅读图灵奖委员会写的小传: [{{ name }}]({{ Turing_Award.url }})
<p>  * 查看ACM DL页面: [{{ name }}]({{ Turing_Award.dl_link }})
{% endif %}

<p>## 时间
<p>### 生卒年月
<p>* {{ Born.day }} - {% if Died %} {{ Died.day }} {% else %} ? {% endif %}
<p>### 求学经历
{% for e in Alma_mater %}
<p>* [{{ e.title }}]({{ e.url }})
{% endfor %}

<p>## 空间
<p>### 学术领域
{% for e in Fields %}
<p>* [{{ e.title }}]({{ e.url }})
{% endfor %}

<p>### 获奖情况
{% for e in Awards %}
<p>* {{ e.title }} ({{ e.year }})
{% endfor %}

{% if Turing_Award %}
<p>#### 图灵奖
<p>* 页面: [{{ name }}]({{ Turing_Award.url }})
<p>* 获奖原因：
<p>> {{ Turing_Award.citation }}

{% comment %} Lecture {% endcomment %}
    {% if Turing_Award.award_video %}
    <p>* [视频]({{ Turing_Award.award_video}})
    {% endif %}
    {% if Turing_Award.award_lecture %}
    <p>* [Lecture]({{ Turing_Award.award_lecture }})
    {% endif %}

{% endif %}

<p>### 所属机构
{% for e in Institutions %}
<p>* [{{ e.title }}]({{ e.url }})
{% endfor %}

<p>## 变量
<p>### 主要成就
{% for e in Known_for %}
<p>* [{{ e.title }}]({{ e.url }})
{% endfor %}

<p>### 合作关系
<p>### 师承关系
<p>- 可以去以下网站查找师承关系
<p>  - [Mathematics Genealogy Project](https://genealogy.math.ndsu.nodak.edu/)
<p>  - [academictree](https://academictree.org/)
<p>  - [AceMap](https://www.acemap.info/)
{% if Doctoral_advisor  %}
    <p>#### 老师
    {% for e in Doctoral_advisor %}
    <p>* [{{ e.title }}]({{ e.url }})
    {% endfor %}
{% endif %}

{% if Doctoral_students %}
    <p>#### 学生
    {% for e in Doctoral_students %}
    <p>* [{{ e.title }}]({{ e.url }})
    {% endfor %}
{% endif %}

        </div>
    </body>
</html>